<h1>Post#index</h1>
<p>Find me in app/views/post/index.html.erb</p>
<a href="/post/new">글 작성하기</a>
<% @posts.each do |post| %>
  <hr>
  <p><%= post.id %></p>
  <p><%= post.title %></p>
  <p><%= post.body %></p>
  <p><%= post.created_at %></p>
  <p><%= post.updated_at %></p>
  <a href="/post/<%= post.id %>">게시글 보기</a>
<% end %>
<hr>
